
.calendar-portlet-mini-calendar td {
    font-family: 'Merienda', sans-serif;
}
.scheduler-view-day-table-time{
    font-family: 'Merienda', sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}